<!-- FILEPATH: /c:/Users/William/Development/alt_blog/src/templates/dashboard/me.html -->
{% extends "base.html" %} 

{% block content %}

<section class="bg-gray-100 min-h-screen">
    <div class="container mx-auto flex flex-col md:flex-row items-center my-0 md:my-0 bg-slate-700"><h2 class="p-auto text-3xl font-bold text-white bg-slate-700 mb-4 p-10">Profile</h2></div>
    <div class="container mx-auto flex flex-col md:flex-row items-center my-0 md:my-0">
            <div class="bg-white p-8 rounded-lg shadow-lg h-full w-full">
                <div class="flex justify-center">
                    <img class="w-40 h-40 rounded-full object-cover border-4 border-gray-300" alt="Profile picture" src="https://demos.creative-tim.com/notus-js/assets/img/team-2-800x800.jpg">
                </div>
                <div class="mt-6">
                    <h1 class="text-3xl font-medium text-gray-900 mb-2">Jenna Stones</h1>
                    <p class="text-gray-500 text-lg mb-2">Solution Manager - Creative Tim Officer</p>
                    <p class="text-gray-500 text-lg mb-2"><i class="fas fa-map-marker-alt"></i> Los Angeles, California</p>
                    <p class="text-gray-500 text-lg mb-2"><i class="fas fa-graduation-cap"></i> University of Computer Science</p>
                    <p class="text-gray-500 text-base leading-7">An artist of considerable range, Jenna the name taken by Melbourne-raised, Brooklyn-based Nick Murphy writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
                </div>
            </div>
        </div>
        <div class="container mx-auto flex flex-col md:flex-row items-center my-0 md:my-0 bg-slate-700"><h2 class="p-auto text-3xl font-bold text-white bg-slate-700 mb-4 p-10">Dashboard</h2></div>
        
        <div class="container mx-auto flex flex-col md:flex-row items-center my-0 md:my-0">
            <div class="grid grid-cols-3 gap-4">
                <div class="bg-white p-8 rounded-lg shadow-lg">
                    <a href="#" class="text-blue-500 hover:text-blue-700 text-xl mb-2 block">My Posts</a>
                </div>
                <div class="bg-white p-8 rounded-lg shadow-lg">
                    <a href="/me/new" class="text-blue-500 hover:text-blue-700 text-xl mb-2 block">New Post</a>
                </div>
                <div class="bg-white p-8 rounded-lg shadow-lg">
                    <a href="#" class="text-blue-500 hover:text-blue-700 text-xl mb-2 block">Comments</a>
                </div>
                <div class="bg-white p-8 rounded-lg shadow-lg">
                    <a href="#" class="text-blue-500 hover:text-blue-700 text-xl mb-2 block">Settings</a>
                </div>
            </div>
        </div>
    
    </div>
</section>

{% endblock %}
