{% extends "base.html" %}

{% block content %}
{% include 'components/tags.html' %}

<div class="flex flex-row">
  <div class="w-1/5 px-30 border">
    <h1 class="text-3xl font-bold mb-4 justify-self-start self-start text-center">Trending Articles</h1>
  </div>
  <div class="flex flex-col w-10/12 justify-self-end">
    <h1 class="text-3xl font-bold mb-4 justify-self-start self-start text-center"style="margin-left: 40px;">Latest Articles</h1>
    <section class="w-full flex flex-col items-center px-3">
        <ul class="space-y-4">
      {% for post in data %}
      <li>
      <article class="flex flex-col shadow my-4 w-full">
        <!-- Article Image -->
        <div class="hover:opacity-75">
          <div class="bg-slate-800 h-60 w-auto"></div>
        </div>
        <div class="bg-white flex flex-col justify-start p-6">
          <div>{% for category in post.categories %}
            <a href="#" class="text-blue-700 text-sm font-bold uppercase pb-4">{{ category }}</a>
          {% endfor %}</div>
          
          <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">{{post.title}}</a>
          <p href="#" class="text-sm pb-3">
            By <a href="#" class="font-semibold hover:text-gray-800">{{post.author}}</a>, Published on {{ post.date_published.strftime('%Y-%m-%d')  }}
          </p>
          <a href="#" class="pb-6">{{post.body|truncate(400)}}..</a>
          <a href="blog/{{post.slug}}" class="uppercase text-gray-800 hover:text-black">Continue Reading <i
              class="fas fa-arrow-right"></i></a>
        </div>
      </article>
  {% endfor %}
</li>
</ul>
  </section>
</div>
</div>


{% endblock %}