<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <title>My FastAPI Blog</title>
  </head>
  <body>
    <!-- Create a modern and well styled navbar using tailwind -->
    <div class="p-6 bg-blue-500 flex"><h1 class="self-auto hover:self-end">FastAPI BLOG</h1></div>
   
  </body>
</html>
