

<div class="w-screen">
    <nav class="flex flex-row justify-between items-center p-8 bg-white text-gray-900 shadow h-2 w-screen">
        <a href="/" class="text-3xl font-bold tracking-wider">My FastAPI Blog Alt</a>
        {% if user != None %}
            <a href="/profile" class="text-lg font-medium tracking-wide hover:text-gray-400">Dashboard</a>
        {% else  %}
        <div class="flex flex-row justify-between items-center p-8"><a href="/login" class="text-lg font-medium tracking-wide hover:text-gray-400">Sign in</a>
            <div class="flex flex-row justify-between items-center p-8"><a href="/register" class="text-lg font-medium tracking-wide hover:text-gray-400">Sign up</a>
        {% endif %}
        
    </nav>
</div>
